@page "/InterfaceTraffic/{ip}"
@model WebSniffer.Pages.InterfaceTrafficModel
@using Syncfusion.Blazor.Grids
@{
    ViewData["Title"] = "Selected Interface Traffic";
}

<h2>@Model.devicePorp[0]</h2>
<h3>@Model.devicePorp[1]</h3>
<br />
<form method="post" asp-page-handler="CaptureStart">
    <button class="btn btn-primary">Start Capture</button>
</form>
<form method="post" asp-page-handler="CaptureStop">
    <button class="btn btn-primary">Stop Capture</button>
</form>

<br />

<table>
    <tr>
        <th>Packets</th>

    </tr>
    @foreach (var packet in Model.packets)
    {
        <tr>
            <td>@packet</td>            
        </tr>
    }
</table>

